<h1>Windows itu apa sih ?</h1>
<br> </br>

<h2>penjelasan</h2>
<p><b>windows</b> adalah sistem operasi yang  dibuat oleh microsoft.anda dapat menggunakan komputer anda memlalui sistem o<i>operasi</i>
    Windows mayoritas sudah di bunling pada komputer (pc) baru sehingga windows menjadi sistem operasi yang paling populer di dunia.
<br><sup>Windows</sup> memungkinkan anda untuk menyelesaikan semua tugas sehari hari di komputer anda. </p> <body>


    <p> <sub>sebagai contoh</sub> , anda dapat menggunakan windows untuk browsing, mengecek email, mengedit foto digital, mendengarkan musik, bermain game, dan 
       windows juga banyak diguankan di <i>perkantoran</i>karena menyediakan akses perngkat lunak produktivitas seperti kelender, pengolah kata,  dan spreadsheet.

    </p>
    

    </body>

    
